version: "3.9"

services:
  mongo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: app
    volumes:
      - './docker/mongodb:/data/db'
      - './mongodb/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro'
    command: mongod
